{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ReNote AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'faviconRN.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark " aria-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/ReNoteAI_logo.svg' %}" alt="ReNoteAI" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/products/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item {% if request.path == '/welcome/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'welcome' %}">App</a>
                </li>
                <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
<footer class="footer-section" id="footer-section">
    <div class="container relative">
        <div class="sofa-img">
            <img src="{% static 'images/Waterbowlcopy.png' %}" alt="Image" class="img-fluid" style="padding-left: 50px;">
        </div>

        <div class="row g-5 mb-5 align-items-center">
            <!-- Contact Info -->
            <div class="col-lg-4 footer-logo-wrap">
                <a href="{% url 'index' %}" class="footer-logo">ReNoteAI</a>
                <p class="mb-4">
                    ReNote AI Pvt Ltd,<br>
                    T-Hub Phase 2.0, Madhapur,<br>
                    Hyderabad, Telangana, India - 500081.<br>
                    +91 9666363363, +91 8886663326<br>
                    sales@renote.ai
                </p>
                <ul class="list-unstyled custom-social">
                    <li><a href="https://www.facebook.com/people/ReNote-AI/61568234070306/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="https://x.com/ReNote_AI?t=65Ubm8s6UJ5NUM2dsBmEcg&s=09" target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/renote.ai?igsh=MTZpNnUwOHpzZTF2cA==" target="_blank"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/renoteai/" target="_blank"><span class="fab fa-linkedin"></span></a></li>
                </ul>
            </div>

            <!-- App Links -->
            <div class="col-lg-4 text-center">
                <h5>Download Our App</h5>
                <a href="https://play.google.com/store/apps/details?id=com.renote" target="_blank">
                    <img src="{% static 'images/playstore_logo.png' %}" alt="Get it on Google Play" style="width: 200px; margin: 9px;">
                </a>
                <a href="https://apps.apple.com/in/app/renoteai/id6479944118" target="_blank">
                    <img src="{% static 'images/appstore_logo.png' %}" alt="Download on the App Store" style="width: 200px; margin: 9px;">
                </a>
            </div>

            <!-- Footer Links -->
            <div class="col-lg-4 links-wrap text-end">
                <ul class="list-unstyled">
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'welcome' %}">App</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                </ul>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.</p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="{% url 'terms' %}" style="font-size:15px">Terms &amp; Conditions</a></li>
                        <li><a href="{% url 'privacy_policy' %}" style="font-size:15px">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->

    <!-- End Footer Section -->

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- WhatsApp Floating Icon -->
    <a href="https://wa.me/+918886663326" target="_blank" class="whatsapp-float">
        <img src="{% static 'images/whatsapp.svg' %}" alt="WhatsApp" class="whatsapp-icon">
    </a>

    <a href="{% url 'contact' %}#contact-form" class="booknow-float">
        <img src="{% static 'images/booking.png' %}" alt="BookNow" class="booknow-icon">
    </a>

</body>
</html>
