{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Hero Section -->
<div class="hero-standard">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Products</h1>
            <p class="hero-text">Explore with ReNoteAI the perfect blend of Handwritten Style and Digital Convenience to simplify your life.</p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="{% static 'images/Air.png' %}" class="img-fluid" alt="Product Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
 
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <div class="row">
   
        <!-- Start Column 1 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="{% static 'images/Craft.png' %}" class="img-fluid product-thumbnail" style="height: 350.27px; width: 248px;">
            <h3 class="product-title">Eco</h3>
            <strong class="product-price">₹ 129.00</strong>
          </a>
        </div>
        <!-- End Column 1 -->
   
        <!-- Start Column 2 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="{% static 'images/Lite.png' %}" class="img-fluid product-thumbnail" style="height: 350.27px; width: 232px;">
            <h3 class="product-title">Lite</h3>
            <strong class="product-price">₹ 199.00</strong>
          </a>
        </div>
        <!-- End Column 2 -->
   
        <!-- Start Column 3 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="{% static 'images/Air.png' %}" class="img-fluid product-thumbnail" style="height: 350.27px; width: 267px;">
            <h3 class="product-title">Air</h3>
            <strong class="product-price">₹ 299.00</strong>
          </a>
        </div>
        <!-- End Column 3 -->
   
        <!-- Start Column 4 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="{% static 'images/Classic.png' %}" class="img-fluid product-thumbnail" style="height: 350.27px; width: 262px;">
            <h3 class="product-title">Classic</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
<!-- End Product List -->
{% endblock %}
